body {
  background-color: white;
}

header + main,
header + main + footer {
  margin: 1rem 1.0875rem 1.45rem 1rem;
}

main > section#quotes > figure > blockquote {
  margin-bottom: 0;
}

blockquote + figcaption {
  margin-top: 0;
  margin-left: 1.45em;
}
